* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

main {
  max-width: 50em;
  padding: 0 1em;
  margin: 0 auto;
}

li {
  margin-bottom: .5em;
}

.loading {
  color: transparent;
  background: #eceff1;
}
